@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

header {
    /* display: ; */
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, rgba(145,145,145,1) 0%, rgba(84,88,125,1) 72%, rgba(60,66,117,1) 100%); */
}

.header-container {
    display: flex;
    max-width: 100%;
    height: 80%;
    /* background: linear-gradient(to bottom, rgba(145,145,145,1) 0%, rgba(84,88,125,1) 72%, rgba(60,66,117,1) 100%); */
}

.left {
    width:41%;
    /* float: left; */
    padding: 0 0 0 5%;
    font-family: 'Roboto', sans-serif;
}

.left h1 {
    font-size: 3.75rem;
    color: white;
}

.left p {
    margin: 10% auto;
    font-size: 1.5rem;
    widtH: 50%;
    color: white;
}

.left .button button {
    background-color: rgb(63, 28, 145); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.left .button button:hover {
    /* position: static; */
    background-color: rgb(134, 43, 43, 0);
    border: 2px solid rgba(62, 28, 145, 1);
}

.right {
    width:38%;
    float: right;
    padding: 0 0 0 5%;
    font-family: 'Roboto', sans-serif;
}

.right h3 {
    font-size: 3rem;
    color: rgb(63, 28, 145);
}
.right .advertizer {
    width: 70%;
    height: 70%;
}

.advertizer img {
    width: 100%;
    height: 70%;
}

.adv-button {
    background-color: rgb(63, 28, 145); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 80px;
    position: relative;
    left: 36%;
    top: -18%;
}

.adv-button:hover {
    background-color: rgb(134, 43, 43, 0);
    color: rgb(134, 43, 43, 1);
    border: 2px solid rgba(62, 28, 145, 1);
}