
  
  .wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1% 0 3% 0;
  }
  
  .wrapper form {
    margin: 0 auto;
    width: 100%;
  }
  
  .wrapper h2 {
    background: linear-gradient(326deg, rgba(27,27,27,1) 20%, rgba(255,255,255,1) 70%);
    /* background: linear-gradient(344deg, rgba(0,111,245,1) 38%, rgba(85,170,208,1) 47%, rgba(185,57,219,1) 59%, rgba(218,42,42,1) 65%); */
    background-clip: text;
    font-size: 72px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .wrapper img {
    position: relative;
    top: 7px;
    width: 25px;
    height: 25px;
  
  }
  
  .login-form {
    margin: 0 auto;
  }
  
  .username {
    font-size: 1.25rem;
    padding : 0 0 2% 0;
  }
  
  .username input {
    background: #e3e3e3;
    width: 18%;
    padding: 5px 0 5px 7px; ;
    border: 0;
    border: 0.5px ridge  rgb(176, 184, 190);
    border-left: 6px solid #3e3e3e;
    color:lightblue;
    font-size: 1.25rem;;
  }
  
  .password {
    font-size: 1.25rem;
    padding: 1% 0 2% 0;
  }
  
  .password input {
    background: #e3e3e3;
    width: 18%;
    padding: 5px 0 5px 7px; ;
    border: 0;
    border: 0.5px ridge  rgb(176, 184, 190);
    border-left: 6px solid #3e3e3e;
    color:lightblue;
    font-size: 1.25rem;;
  }

  .rePassword input {
    background: #e3e3e3;
    width: 18%;
    padding: 5px 0 5px 7px; ;
    border: 0;
    border: 0.5px ridge  rgb(176, 184, 190);
    border-left: 6px solid #3e3e3e;
    color:lightblue;
    font-size: 1.25rem;;
  }
  
  .wrapper .login-button{
   width: 10%;
   padding: 4px 17px;
   margin: 2% 0 0 0;
  }

  .wrapper .login-button {
    background-image:linear-gradient(to right, #4CB8C4 0%, #3CD3AD 51%, #4CB8C4 100%);
    background: linear-gradient(140deg, rgba(0,111,245,1) 0%, rgba(85,170,208,1) 40%, rgba(185,57,219,1) 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
  .wrapper .login-button:hover { background-position: right center; }

  .errorNotification {
    /* display:inline-block; */
    background: rgba(146, 18, 18, 0.657);
    border: 1px solid white;
    padding: 20px ;
    color:white;
  }